<div class="auth-wrapper">
    <app-card [title]="'Verify Your Email'">
        <div class="body">
           <div class="con1">
            <img class="img" src="../../assets/images/mail.png" />
           </div>
           <div class="con2">
            <p>We have sent a verification email to tiamiyuadedapo@gmail.com</p>
           </div>
        </div>
        <div class="cardBtn">
            <app-button
                [text]="'Resend Email'"
            >
            </app-button>
        </div>
    </app-card>
</div>

