<div class="topbar">
    <div class="toggle" (click)= "toggle()">
        <i
            class="fas" 
            [class.fa-bars]="!isStar"
            [class.fa-times]="isStar"
            style="font-size: 20px;"
        >
        </i>
    </div>
    <div class="conA">
        <p>Adedapo Tiamiyu</p>
    </div>
    <div class="conA abc">
        <div class="child">
            <button>                
                <span>Buy</span>/<span >Swap</span>       
            </button>
            <button>                
                <span>Deposit</span>/<span >Withdraw</span>       
            </button>
            <!--<button>                
                <span class="buy2 fa-solid fa-money-bill"></span>
                <span >Buy</span>
                /
                <span class="fa-solid fa-arrows-rotate buy2"></span>
                <span class="buy">Swap</span>                
            </button>
            <button>                
                <span class="fa-solid fa-money-bill-transfer buy2"></span>
                <span class="buy">Deposit</span>
                /
                <span class="buy2 fa-solid fa-money-from-bracket"></span>
                <span class="buy">Withdraw</span>       
            </button>-->
            <img class="img" src="../../assets/images/bell.png" />
            <img class="user" src="../../assets/images/user.png" />
        </div>
    </div>
</div>

<!-- <div class="nav">
    <div class="conA">
        <p>Adedapo Tiamiyu</p>
    </div>
    <div class="conA abc">
        <div class="abc">
            <button>Buy/Swap</button>
            <button>Deposit/Withdraw</button>
            <img class="img" src="../../assets/images/bell.png" />
            <img class="img" src="../../assets/images/user.png" />
        </div>
    </div>  
</div> -->
