<!--<div class="container">
    <app-sidebar></app-sidebar>

    <div class="main" [ngClass]="item ? 'toggle':''">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div>|||</div> -->
        <div class="conWrapper">
            <div class="con1">
                <div class="overview">               
                    <div class="recentOrders">
                        <div class="cardHeader">
                            <p>$48,898,000</p>
                            <div>
                                <h5>$43,000,000 <span>0.1234BTC</span></h5>                                
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>    
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>    
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  
                                        <div class="coin">                                     
                                            <img class="img" src="../../assets/images/bitcoin.png" /> 
                                            <p>Bitcoin</p>
                                            <span>BTC</span>  
                                        </div>                                     
                                    </td>
                                    <td>
                                        <div class="amount">                                      
                                            <p>$46,000,000</p>
                                            <span>+ 0.1234BTC</span>  
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="tradeBtn">
                                            <button>Buy</button>
                                            <button>Swap</button>
                                        </div>
                                    </td>
                                </tr>                        
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="con2">
                <div class="conBox">
                    <div class="con">                        
                        <h4>Transactions</h4>
                        <div class="bal">
                            <div class="balA">
                                <div class="balAB">
                                    <img class="img" src="../../assets/images/eth.png" />
                                    <p>Deposit</p>
                                </div>
                                <div class="balSym">
                                    <p>to another wallet</p>
                                </div>
                            </div>
                            <div class="ballA">
                                <div class="ballAB">
                                    <p>$41,000,000</p>
                                    <p>1ETH</p>
                                </div>
                            </div>
                        </div>

                        <div class="bal">
                            <div class="balA">
                                <div class="balAB">
                                    <img class="img" src="../../assets/images/solaris.png" />
                                    <p>Buy</p>
                                </div>
                                <div class="balSym">
                                    <p>with credit card</p>
                                </div>
                            </div>
                            <div class="ballA">
                                <div class="ballAB">
                                    <p>$41,000,000</p>
                                    <p>1XLR</p>
                                </div>
                            </div>
                        </div>

                        <div class="bal">
                            <div class="balA">
                                <div class="balAB">
                                    <img class="img" src="../../assets/images/doge.png" />
                                    <p>Receive</p>
                                </div>
                                <div class="balSym">
                                    <p>from bitcoin address</p>
                                </div>
                            </div>
                            <div class="ballA">
                                <div class="ballAB">
                                    <p>$41,000,000</p>
                                    <p>1DOGE</p>
                                </div>
                            </div>
                        </div>
                        <p class="view">View all</p>
                    </div>
                </div>
            </div>
	    </div>
    <!-- </div>
</div> -->