button {
    width: 100%;
    height: 3rem;
    background: #1C1259;
    border-radius: 0.625rem;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 0.625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.063rem;
}