<!--<div class="container">
    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>-->

        <div class="cardBox">
            <div class="card">
                <div class="cardCon">
                    <div>
                        <img class="img" src="../../assets/images/steem.png" />
                    </div>
                    <div class="cardName">Steem Dollars</div>
                    <div class="numbers">STD</div>
                </div>
                <div class="iconBox">
                    <div class="a">Trending</div>
                    <div class="b">$0.12345</div>
                    <div class="c">+ 0.14%</div>
                </div>
            </div>
            <div class="card">
                <div class="cardCon">
                    <div>
                        <img class="img" src="../../assets/images/solaris.png" />
                    </div>
                    <div class="cardName">Solaris</div>
                    <div class="numbers">XLR</div>
                </div>
                <div class="iconBox">
                    <div class="a">Trending</div>
                    <div class="b">$0.12345</div>
                    <div class="c">+ 0.14%</div>
                </div>
            </div>
            <div class="card">
                <div class="cardCon">
                    <div>
                        <img class="img" src="../../assets/images/nexus.png" />
                    </div>
                    <div class="cardName">Nexus</div>
                    <div class="numbers">NXS</div>
                </div>
                <div class="iconBox">
                    <div class="a">Trending</div>
                    <div class="b">$0.12345</div>
                    <div class="c">+ 0.14%</div>
                </div>
            </div>
            <div class="card">
                <div class="cardCon">
                    <div>
                        <img class="img" src="../../assets/images/electroneum.png" />
                    </div>
                    <div class="cardName">Electroneum</div>
                    <div class="numbers">ETN</div>
                </div>
                <div class="iconBox">
                    <div class="a">Trending</div>
                    <div class="b">$0.12345</div>
                    <div class="c">+ 0.14%</div>
                </div>
            </div>
        </div>

        <div class="recentOrders">
            <div class="cardHeader">
                <h2>All</h2>
                <span></span>
                <div class="inputBox">
                    <input placeholder="Search crypto" />
                    <img class="img" src="../../assets/images/search.png" />
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Coin Name</td>
                        <td>Price</td>
                        <td>Market Cap</td>
                        <td>Volume</td>
                        <td>Change</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin">
                               <img class="img" src="../../assets/images/bitcoin.png" /> 
                               <p>Bitcoin</p>
                               <p>BTC</p>
                            </div>
                        </td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>$46,000,000</td>
                        <td>
                            <div class="market">+ 3.58%</div>
                        </td>
                        <td>
                            <div class="tradeBtn">
                                <button>Buy</button>
                                <button>Swap</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	<!--</div>
</div>-->