.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .con1 {
        margin-top: 2.25rem;
        margin-bottom: 4.375rem;
        text-align: center;
    }
    .con2 {
        text-align: center;
        margin-bottom: 2.938rem;
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: #171717;
        }
    }
}