// .container {
//     position: relative;
//     width: 100%;
// }
// .main {
//     position: absolute;
//     width: calc(100% - 229px);
//     left: 229px;
//     min-height: 100vh;
//     background: #f5f5f5;
//     transition: 0.5s;
.conWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-gap: 100px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    position: relative;
    padding: 0px 40px;
    .con1 {
        position: relative;
        // width: 730px;
        height: auto;
        .boxCon {
            width: 100%;
            background: #FFFFFF;
            border-radius: 10px;
            padding: 20px 0;
            margin: 50px 0;
            // min-height: 660px;
            .boxSec {
                max-width: 450px;
                margin: 0 auto;
                padding: 0 15px;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    li {
                        flex: 1;
                        text-align: center;
                        padding: 15px;
                        width: 100%;
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            padding: 15px;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 27px;
                        }
                    }
                    .active {
                        color: #000!important;
                        border-bottom: 4px solid #2779EC;
                        transition: all 0.2s ease;
                    }
                }
                .map {
                    margin: 25px 0;
                    .bttn {
                        max-width: 180px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .con2 {
        // width: 498px;
        height: 250px;
        margin-bottom: 20px;
        .conBox {
            width: 100%;
            background: #FFFFFF;
            border-radius: 10px;
            height: 100%;
            margin: 50px 0;
            .con {
                text-align: center;
                padding: 35px 0;
                h4 {
                    font-weight: 600;
                }
                .bal {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    max-width: 250px;
                    margin: 20px auto;
                }
            }
        }
    }
}

// }
@media(max-width: 991px) {
    // .main {
    //     width: 100%;
    //     left: 0;
    // }
    .conWrapper {
        padding: 0 15px;
        // grid-template-columns: 1fr!important;
        grid-gap: 20px!important;
        .con1 {
            width: 100%;
            // order: 2;
        }
        .con2 {
            width: 100%;
            // order: 1;
            height: auto;
        }
    }
    .boxCon,
    .conBox {
        margin: 20px 0!important;
    }
}

@media(max-width: 768px) {
    .conWrapper {
        padding: 0 15px;
        grid-template-columns: 1fr!important;
        grid-gap: 20px!important;
        .con1 {
            width: 100%;
            order: 2;
        }
        .con2 {
            width: 100%;
            order: 1;
            height: auto;
        }
    }
}