// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$crypto-primary: mat.define-palette(mat.$indigo-palette);
$crypto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$crypto-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$crypto-theme: mat.define-light-theme(( color: ( primary: $crypto-primary, accent: $crypto-accent, warn: $crypto-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($crypto-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.auth-wrapper {
    width: 100%;
    height: 100%;
    background: #1C1259;
    padding: 3.75rem 15px;
}

.heading {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 2rem!important;
    font-weight: 600!important;
    line-height: 4.5rem!important;
    letter-spacing: 0em!important;
    color: #1C1259;
    margin: 0!important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

p {
    margin: 0!important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}