<!--<div class="container">
    <app-sidebar></app-sidebar>-->

    <!--<div class="main">-->
        <!-- <app-navbar></app-navbar> -->
        <div class="box">
            <div class="boxCon ab">
                <h3 class="heading">Welcome</h3>
                <p>Complete your registration to have access to your dashboard and carry out other transactions</p>
                <div class="bttn">
                    <app-button
                        [text]="'Complete Registration'"
                    >
                    </app-button>
                </div>
            </div>
            <div class="boxCon abc">
                <img class="img" src="../../assets/images/saly.png" />
            </div>
        </div>
	<!--</div>
</div>-->